@import '/src/assets/colors.scss';

.cardComparePokemon{
  width: clamp(300px, 30vw, 500px);
  height: 100%;
  border: 1px solid $borderColor;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase; 
  background-color: $secondary;
  color: $contratText;
  font-size:  clamp(10px, 1.1rem, 28px);
  font-weight: 600;
  box-shadow: 6px 4px 10px $borderColor;
      img{
        width:  clamp(140px, 20vw, 300px);
      }
}
